<!DOCTYPE html>
<html>

<body>
    <h1>Hello!</h1>
    <img src="<%= imagePath %>" />
    <form>
        <input maxlength="140" />
        <button type="submit">Create toDo</button>
    </form>
    <h2>ToDos:</h2>
    <ul>
        <li>Workout</li>
        <li>Buy coffee</li>
        <li>Water plants</li>
    </ul>
</body>

</html>